@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
  
  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
  
  .animate-bounce-slow {
    animation: bounce-slow 5s ease-in-out infinite;
  }